{% extends "farmacia/base-farmacia.html" %}
{% load staticfiles %}
{% block extraheaders %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='{% static "farmacia/styles/buscar-medicamento.css" %}'>
{% endblock %}
{% block body %}
<form 
    class="Centralize-center-column bg-primary form-size"
    method="POST"    
>
    {% csrf_token %}
    <div class="Centralize-center-row">
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input" type="text" name="entrada" placeholder="Pesquisar" required>
                    <a class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <div class="Grey-back add-padding-100 add-radius-10 checkboxes-and-radios">
            <div>
                <input type="radio" id="nome_do_sal" name="opcao_pesquisa" value="Nome do Sal" required>
                <label for="nome_do_sal" class="text-white">Nome do Sal</label>
            </div>
            <div>
                <input type="radio" id="codigo_tuss" name="opcao_pesquisa" value="Código TUSS" required>
                <label for="codigo_tuss" class="text-white">Código Tuss</label>
            </div>
            <div>
                <input type="radio" id="nome_do_medicamento" name="opcao_pesquisa" value="Nome do Medicamento" required>
                <label for="nome_do_medicamento" class="text-white">Nome Medicamento</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary btn-lg btn-block submit-button">Procurar</button>
</form>
<div class="add-padding-100 add-radius-10 Grey-back table-box">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Local</th>
                <th scope="col">Etiqueta</th>
            </tr>
        </thead>
        <tbody>
            {% for pilula in pilulas %}
            <tr>
                <td class="table-secondary" scope="row">{{ forloop.counter }}</th>
                <td class="table-secondary">
                    {% for lote in lotes %}
                        {% if pilula.id_lote == lote.id_lote %}
                            {% for medicamento in medicamentos %}
                                {% if medicamento.id_medicamento_cadastro == lote.id_medicamento_cadastro%}
                                    {{medicamento.nome_medicamento}}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="table-secondary">
                    {% for setor in setores%}
                        {% if pilula.id_setor == setor.id_setor%}
                            {{setor.nome_setor}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="table-secondary">{{pilula.etiqueta}}</td>
            </tr>
        </tbody>
            {% endfor %}
    </table>
</div>
<div>
    {% if medicamento_nao_existe == True %}
        <div class="alert alert-warning" role="alert">
            <strong>Erro!</strong> Esse medicamento não está cadastrado!
        </div>
    {% endif %}
    {% if nao_ha_lote == True %}
        <div class="alert alert-warning" role="alert">
            <strong>Erro!</strong> Ainda não há lote desse medicamento!
        </div>
    {% endif %}
</div>
{% endblock %}