{% extends "farmacia/base-farmacia.html" %}
{% load staticfiles %}
{% block extraheaders %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='{% static "styles/global.css" %}'>
    <link rel='stylesheet' href='{% static "styles/saida-prescricao.css" %}'>
    <link rel='stylesheet' href='{% static "styles/buscar-medicamento.css" %}'>
{% endblock %}
{% block body %}


<h1 style="text-align:center;">Imprimir Etiqueta Paciente</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {%for paciente in pendentes_impressao%}
    <div class="panel panel-default" style="text-align:center;">
        <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{paciente.0}}
            </a>
        </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <h3>Idade: {{paciente.1}}</h3>
                <h3>Remedios: {{paciente.2}}</h3>
            </div>
        </div>
        <button type="submit" onmouseover="confirm()" class="btn btn-secondary btn-lg btn-block submit-button">Confirmação</button>
    </div>
    {%endfor%}
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="{% static "farmacia/js/imprimir-etiqueta-paciente.js" %}"></script>
{% endblock %}