{% extends "farmacia/base-farmacia.html" %}
{% load staticfiles %}
{% block extraheaders %}

<link rel='stylesheet' href='{% static "farmacia/styles/mostrar-medicamento.css" %}'>

{% endblock %}
{% block body %}

<table>
    <thead>
        <tr> 
            <th>Nome </th>
            <th>Data de Validade </th>
            <th>Local</th>
            <th>Lote </th>
            <th>Retirado </th>
        </tr>
    </thead>

    <tbody>
        <tr> 
            <td>asda</td>
            <td>sim</td>
            <td>não</td>
            <td>asda</td>
            <td></td>
        </tr>
        <tr> 
            <td>Local </td>
            <td>asda</td>
            <td>eds</td>
            <td>asda</td>
            <td> </td>
        </tr>/
        <tr> 
            <td>asda</td>
            <td>1</td>
            <td>2</td>
            <td>asda</td>
            <td> </td>
        </tr>
        <tr> 
            <td>asda</td>
            <td>sim</td>
            <td>não</td>
            <td>asda</td>
            <td> </td>
        </tr>
        <tr> 
            <td>asda</td>
            <td>sim</td>
            <td>não</td>
            <td>asda</td>
            <td> </td>
        </tr>
        <tr class="dif"> 
            <td>asda</td>
            <td>sim</td>
            <td>não</td>
            <td>asda</td>
            <td> </td>
        </tr>
        <tr> 
            <td>asda</td>
            <td>sim</td>
            <td>não</td>
            <td>asda</td>
            <td>asda</td>
        </tr>
        <tr> 
            <td>asda</td>
            <td>sim</td>
            <td>não</td>
            <td>asda</td>
            <td>asda</td>
        </tr>
        <tr> 
            <td>asda</td>
            <td>sim</td>
            <td>não</td>
            <td>asda</td>
            <td>asda</td>
        </tr>
        <tr> 
            <td>asda</td>
            <td>sim</td>
            <td>não</td>
            <td>asda</td>
            <td>asda</td>
        </tr>
        <tr> 
            <td>asda</td>
            <td>sim</td>
            <td>não</td>
            <td>asda</td>
            <td>asda</td>
        </tr>
        <tr> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>


{% endblock %}