{% extends "farmacia/base-farmacia-2.html" %}
{% load staticfiles %}
{% block extraheaders %}
    <link rel='stylesheet' href='{% static "farmacia/styles/retirar-medicamento.css" %}'>
{% endblock %}
{% block body %}
<div class="Centralize-center-column" style="margin-top:10px;">
    <div class="add-padding-100 add-radius-10 Grey-back">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Medicamento</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">ID_Medicamento</th>
                </tr>
            </thead>
            <tbody>
                {% for prescricao in prescricoes %}
                    <tr>
                        <td class="table-secondary" scope="row">{{ forloop.counter }}</td>
                        <td class="table-secondary">{{medicamentos.counter}}</td>
                        <td class="table-secondary">{{prescricao.Quantidade_por_dia}}</td>
                        <td class="table-secondary">{{ID_Medicamento}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form class="a-hundred-percent Centralize-center-column" style="margin-top:10px;">
        {% if data_validade|date:"DATE_FORMAT" < now|date:"DATE_FORMAT" %}
            <div class="alert alert-danger" role="alert">
                <strong>Cuidado!</strong> O medicamento está vencido!
            </div>
        {% endif %}
        {% if medicamento_nao_autorizado %}
            <div class="alert alert-danger" role="alert">
                <strong>Cuidado!</strong> O medicamento não é autorizado pelo convênio!
            </div>
        {% endif %}
        <div class="Centralize-center-column" style="margin-top:30px; margin-bottom:30px;">
            <span class="input-title">Código de Barras</span>
            <div class="helper input-effect">
                <input class="effect-20" type="text" placeholder="Código de Barras" name="etiqueta" required>
                <label></label>
                <span class="focus-border">
                    <i></i>
                </span>
            </div>
        </div>
        <div class="custom-control custom-radio" style="margin-bottom:30px;">
            <div>
                <input class="custom-control-input" type="radio" id="PMF" class="custom-control-input" name="opcao_preco" value="PMF"/>
                <label class="custom-control-label" for="PMF">PMF</label>
            </div>
            <div>
                <input class="custom-control-input" type="radio" id="PF" class="custom-control-input" name="opcao_preco" value="PF"/>
                <label class="custom-control-label" for="PF">PF</label>
            </div>
            <div>
                <input class="custom-control-input" type="radio" id="Simpro" class="custom-control-input" name="opcao_preco" value="Simpro"/>
                <label class="custom-control-label" for="Simpro">Simpro</label>
            </div> 
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Aplicar Medicamento</button>
    </form>
</div>
{% endblock %}