{% extends "farmacia/base-farmacia.html" %}
{% load staticfiles %}
{% block extraheaders %}
    <link rel='stylesheet' href='{% static "farmacia/styles/saida-prescricao.css" %}'>
{% endblock %}
{% block body %}
<form class="Centralize-center-column a-hundred-percent" style="margin-top:20px" method="POST">
    {% csrf_token %}
    {% if prontuario == None %}
        <div class="alert alert-info" role="alert">
            <strong>Erro!</strong> Esse prontuario não existe!
        </div>
    {% endif %}
    {% if ((medicamentos is None) and (not prontuario is None))  %}
        <div class="alert alert-dark" role="alert">
            <strong>Que bom!</strong> Não há medicamentos a serem prescritos.
        </div>
    {% endif %}
    {% if foi_prescrito %}
        <div class="alert alert-primary" role="alert">
            <strong>Sucesso!</strong> O medicamento foi prescrito!
        </div>
    {% endif %}
    <div class="add-padding-100 add-radius-10 Grey-back">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Medicamento</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">ID_Medicamento</th>
                </tr>
            </thead>
            <tbody>
                {% with counter=1 %}
                {% for prescricao in prescricoes %}
                {{ counter|add:"1" }}
                <tr>
                    <td class="table-secondary" scope="row">{{counter}}</td>
                    <td class="table-secondary">{{medicamentos.counter}}</td>
                    <td class="table-secondary">{{Prescricao.Quantidade_por_dia}}</td>
                    <td class="table-secondary">{{ID_Medicamento}}</td>
                </tr> 
            </tbody>
                {% endfor %}
                {% endwith %}
        </table>
    
    </div>
    <div class="helper input-effect">
        <input class="effect-20" type="text" placeholder="Prontuário Paciente" name="prontuario">
        <label></label>
        <span class="focus-border">
            <i></i>
        </span>
    </div>
    <div class="Centralize-center-column">
        <div class="helper input-effect" style="width:100%; margin-bottom:0px;">
            <input class="effect-20" type="text" placeholder="ID_Medicamento" name="ID_Medicamento">
            <label></label>
            <span class="focus-border">
                <i></i>
            </span>
        </div>
        <span style="margin-top:0; margin-bottom:20px; font-size: 10px;">Não lembro do identificador? Procure <a href="{% url 'buscarMedicamento' %}">aqui</a></span>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submeter</button>
</form>
{% endblock %}