{% extends "farmacia/base-farmacia.html" %}
{% load staticfiles %}
{% block extraheaders %}
    <link rel='stylesheet' href='{% static "farmacia/styles/saida-prescricao.css" %}'>
    <link rel='stylesheet' href='{% static "styles/global.css" %}'>
{% endblock %}
{% block body %}
<form class="Centralize-center-column a-hundred-percent" style="margin-top:20px" method="POST">
    {% csrf_token %}
    {% if pessoa_nao_existe == True %}
        <div class="alert alert-info" role="alert">
            <strong>Erro!</strong> Esse prontuario não existe!
        </div>
    {% endif %}
    {% if medicamentos == None %}
        {% if pessoa_nao_existe == False %}
            <div class="alert alert-dark" role="alert">
                <strong>Que bom!</strong> Não há medicamentos a serem prescritos.
            </div>
        {% endif %}
    {% endif %}
    <div class="Centralize-center-column" style="margin-bottom:20px;">
        <span class="input-title">Prontuário</span>
        <div class="helper input-effect">
            <input class="effect-20" type="number" placeholder="Prontuário Paciente" name="prontuario" required>
            <label></label>
            <span class="focus-border">
                <i></i>
            </span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submeter</button>
</form>
{% endblock %}