{% extends "base-farmacia.html" %}
{% load staticfiles %}
{% block extraheaders %}
    <link rel='stylesheet' href='{% static "styles/retornar-medicamento.css" %}'>
{% endblock %}
{% block body %}
<form 
    method="POST" 
    class="Centralize-center-column" 
    style="height:100%; width:100%;"
>
    {% csrf_token %}
    <div class="helper input-effect" style="margin-bottom:0px;">
        <input class="effect-20" type="text" placeholder="" name="etiqueta" required>
        <label>ID Medicamento Entrada</label>
        <span class="focus-border">
            <i></i>
        </span>
    </div>
    <a style="margin-bottom:10px;" href="http://127.0.0.1:8000/mostrarMedicamento">Achar ID</a>
    <button type="submit" class="btn btn-primary btn-lg">Dar Entrada</button>
</form>
{% endblock %}