{% extends "base.html" %}
{% load myTags %}
{% load staticfiles %}
{% block extraheaders %}
     <title>AICP - Login</title>
{% endblock %}
{% block body %}

  <div class="container text-center">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0 black">
            <img src='{% static "images/icon.png" %}' alt="Instituto Chuí de Psiquiatria">
            <!-- Nested Row within Card Body -->
            <div >
              <div >
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-black-900 mb-4">AICP-Médicos</h1>
                  </div>
                  <form class="user" method="POST" action="/entrarMedico/">
                  {% csrf_token %}
                    <div class="form-group users">
                        <button 
                          class="btn btn-warning users" 
                          type="button" 
                          data-toggle="collapse" 
                          data-target="#collapseExample" 
                          aria-expanded="false" 
                          aria-controls="collapse">
                            Usuários
                        </button>
                        <div class="collapse" id="collapseExample">
                          <div class="well">
                              <div class="form-group">
                                  <select multiple class="form-control" id="exampleFormControlSelect2" name="crm" >
                                      {% for crm in crms %}
                                      <option value={{crm}}>
                                        {{crm}}
                                        {{nomes|get_at_index:forloop.counter0}}
                                      </option>
                                      {% endfor %}
                                  </select>
                              </div>
                          </div>
                      </div>
                    <div class="form-group">
                      <input required name="senha" type="password" class="form-control form-control-user" id="InputPassword" placeholder="Senha">
                    </div>
                    {% if senhaErrada == True %}
                    <div class="alert alert-danger" role="alert">
                        <strong>A sua senha está incorreta!</strong> Entre em contato com seu adiministrador.
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-warning btn-user btn-block">
                      Entrar
                    </button>
                    <hr>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Esqueci a senha</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}