{% extends "base.html" %}
{% load staticfiles %}
{% block extraheaders %}
    <link rel='stylesheet' href='{% static "styles/login.css" %}'>
{% endblock %}
{% block body %}
<form 
    class="Centralize-center-column bg-primary form-size"
    method="post"    
>
    {% csrf_token %}
    <div class="input-group mb-3 input-width">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Usuário</span>
        </div>
        <input  type="text" 
                class="form-control" 
                aria-label="Usuário" 
                aria-describedby="inputGroup-sizing-default"
                name="username"
        >
    </div>
    <div class="input-group mb-3 input-width">
        <input  
            type="password" 
            class="form-control" 
            placeholder="Senha" 
            aria-label="Senha" 
            aria-describedby="basic-addon2"
            name="password"
        >
        <div class="input-group-append">
            {{user.as_p}}
            <button class="btn btn-outline-secondary text-light bg-dark" 
                    type="submit">
                    Entrar
            </button>
        </div>
    </div>
</form>
{% endblock %}