{% extends "base-farmacia.html" %}
{% load staticfiles %}
{% block extraheaders %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='{% static "styles/global.css" %}'>
    <link rel='stylesheet' href='{% static "styles/saida-prescricao.css" %}'>
    <link rel='stylesheet' href='{% static "styles/buscar-medicamento.css" %}'>
    
    {% endblock %}
{% block body %}

<div class="helper input-effect">
    <input class="effect-20" type="text" placeholder="">
    <label>Medicamento a ser retirado</label>
    <span class="focus-border">
        <i></i>
    </span>
</div></br>

<button type="submit" class="btn btn-secondary ">Procurar</button>

{% endblock %}