.searchbar{
margin-bottom: auto;
margin-top: auto;
height: 60px;
background-color: #353b48;
border-radius: 30px;
padding: 10px;
}

.search_input{
color: white;
border: 0;
outline: 0;
background: none;
width: 0;
caret-color:transparent;
line-height: 40px;
transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
padding: 0 10px;
width: 450px;
caret-color:#007bff;
transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
background: white;
color: #007bff;
}

.search_icon{
height: 40px;
width: 40px;
float: right;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
color:white;
}

form{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

.checkboxes-and-radios {
	margin: 80px auto 0;
	width: 280px;
	padding: 30px;
	background: #fafafa;
}
.checkboxes-and-radios input {
	display: none;
}
.checkboxes-and-radios label {
	cursor: pointer;
	padding-right: 35px;
	position: relative;
	display: block;
	font-size: 8px;
	padding: 15px 0;
}
.checkboxes-and-radios input[type="radio"] {
	position: absolute;
	visibility: hidden !important;
}
.checkboxes-and-radios input[type="radio"] + label:before,
.checkboxes-and-radios input[type="radio"] + label:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	box-sizing: border-box;
}
.checkboxes-and-radios input[type="radio"] + label:before {
	width: 30px;
	height: 15px;
	right: 0px;
	background: #fff;
	border: 1px solid #e4e3e1;
	border-radius: 15px;
}
.checkboxes-and-radios input[type="radio"] + label:after {
	width: 15px;
	height: 15px;
	right: 15px;
	background: #BDBDBD;
	border-radius: 50%;
	transition: all 200ms ease-out;
}
.checkboxes-and-radios input[type="radio"]:checked + label:after {
	right: 0px;
	background: #FF9800;
}

.table-box{
	position: absolute;
	left: 50%;
	top: 100%;
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, -0%);
}

.submit-button{
	margin-top: 20px;
}